@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* * {
  box-sizing: border-box;
  transition: 0.5s;
} */

::selection {
  background-color: #246692; /* Selected text background color */
  color: #fff; /* Selected text color */
}

* {
  box-sizing: border-box;
  transition: 0.35s;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #1f1f1f;
  border-radius: 5px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

/* 
[dir=ltr] html {
  font-family: "Paytone One", sans-serif;
}


[dir=rtl] html {
  font-family: "Lalezar" !important;
}

.en {
  font-family: "Paytone One", sans-serif;
}


.fa {
  font-family: "Lalezar" !important;
} */


#hide {
  opacity: 1;
  transition: 0.5s all;
}

#nohide {
  opacity: 0;
  transition: 0.5s all;
}

.toggle svg {
  font-size: 33px;
}

.mouse-scroll {
  border: 2px solid #666666;
  border-radius: 20px;
  width: 26px;
  height: 38px;
  position: fixed;
  bottom: 64px;
  transition-property: opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  opacity: 1;
}

.mouse-scroll:before {
  content: "";
  height: 7px;
  width: 2px;
  background: #666666;
  border-radius: 4px;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translate(-1px);
}

.mouse-scroll:before {
  animation: mouse-scroll 2s ease infinite;
}

@keyframes mouse-scroll {
  0% {
      transform: translate3d(-1px,0,0);
      opacity: 0
  }

  20% {
      transform: translate3d(-1px,0,0);
      opacity: 1
  }

  to {
      transform: translate3d(-1px,8px,0);
      opacity: 0
  }
}

/* navbar */
.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
}

/* ul  */
.navMenu {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.navLink {
  color: #246692;
}

/* media queries */


@media screen and (max-width: 780px){
  
  /* hamburger */
  .hamburger {
    display: block;
  }

  .bar {
        background-color: #fff;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  /* navMenu */

  .navMenu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    padding: 10px;
  }

  .navMenu.active{
    left: 0;
  }

  .navMenu li {
    margin: 16px 0;
  }

  /* Not Active */
  .nav.disable {
    all: unset;
  }

  .nav.disable nav {
    opacity: 0;
    display: none;
  }

  /* Active */
  .nav.active {
    all: unset;
    background-color: rgb(69, 25, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
  }

  .nav.active nav {
    all: unset;
    display: block;
    font-size: 3.5rem;
    text-transform: capitalize;
  }

  .nav.active ul {
    all: unset;
    display: flex;
    flex-direction: column;
  }

  .nav.active img.logo {
    position: absolute;
    top: 3.5rem;
    left: 2rem;
    width: 50px;
  }

  .nav.active .social {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }

  .nav.active li {
    all: unset;
  }
}