@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
  box-sizing: border-box;
  transition: 0.5s;
}

#hide {
  opacity: 1;
  transition: 0.5s all;
}

#nohide {
  opacity: 0;
  transition: 0.5s all;
}

.toggle svg {
  font-size: 33px;
}

.mouse-scroll {
  border: 2px solid #666666;
  border-radius: 20px;
  width: 26px;
  height: 38px;
  position: fixed;
  bottom: 64px;
  transition-property: opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  opacity: 1;
}

.mouse-scroll:before {
  content: "";
  height: 7px;
  width: 2px;
  background: #666666;
  border-radius: 4px;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translate(-1px);
}

.mouse-scroll:before {
  animation: mouse-scroll 2s ease infinite;
}

@keyframes mouse-scroll {
  0% {
      transform: translate3d(-1px,0,0);
      opacity: 0
  }

  20% {
      transform: translate3d(-1px,0,0);
      opacity: 1
  }

  to {
      transform: translate3d(-1px,8px,0);
      opacity: 0
  }
}